/*CSS*/
* {margin: 0; padding: 0;}
html, body{
	background-image: url(/images/bg.jpg);
}

a{
	outline: medium none !important;
	text-decoration: none !important;
}

.page-header{
	color: #fff;
}

.tree{
	display: table;
	margin: 40px auto;
}

.tree ul {
	padding-top: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*Remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	font-family: arial, verdana, tahoma;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

/*Hover effects*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #D0D9ED; color: #353C4F; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #353C4F;
}

.parent{
	display: table;
	border-spacing: 16px 0;
	width: 100%;
}

.jumbotrone{
	display: table-cell;
	background-color: #fff;
	width: 45%;
	height: 100%;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.jumbotrone .panel{
	height: 100%;
	margin-bottom: 0px;
	border: 0 none;
	box-shadow: none;
}

.well,input{
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.custom-link{
	border-bottom: 1px dotted;
}

.custom-link:hover{
	text-decoration: none;
}

.btn-group-justified{
	display: none;
}

footer{
/*	position: absolute;
	bottom: 0px;*/
	height: 60px;
	margin-top: 60px;
	width: 100%;
	background-color: #BDC3D1;
}

footer p{
	line-height: 60px;
	color: #fff;
	margin: 0px;
}
